@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  border-bottom: 10px solid #18105b;
  margin-bottom: 10px;
  padding: 8px 0px;
}

.navBox {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
}

body {
  font-family: Helvetica, sans-serif;
}
/* -------------------------- Nav Bar -------------------------- */
@keyframes revealText {
  0% {
    width: 0;
  }
  100% {
    width: 37%;
  }
}

.navHeading {
  overflow: hidden;
  white-space: nowrap;
  animation: revealText 6s ease-out infinite;
}

/* -------------------------- LOGIN CSS -------------------------- */

.jmanLogo {
  position: absolute;
  margin-right: 1100px;
  margin-bottom: 500px;
}

.sideImage {
  position: absolute;
  width: 24rem;
  height: 24rem;
  margin-left: 55rem;
  margin-top: 2.5rem;
  display: inline;
}

.loginHeading {
  padding-top: 4px;
  color: #19105b;
}

.loginBox {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  /* background-image: url(images/backgroundImage.jpg); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: #f2f1f6;

  border-radius: 7px;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-shadow: 0 2px 4px 0 #f2f1f6, 0 3px 10px 0 #f2f1f6;
}

.newUserRegister {
  /* background-color: #d1cfde; */
  color: #19105b;
  border-radius: 5px;
  padding: 5px;
}

.loginForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginDiv {
  width: 200px;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.loginLabel {
  /* color: white; */
  /* background-color: #7E78AA; */
  border-radius: 7px;
  /* padding: 5px 15px; */
  width: fit-content;
  margin-bottom: 5px;
}

.loginInput {
  background-color: #f2f1f6;
  margin-top: 5px;
  border-bottom: 3px solid #7e78aa;
}

.loginBtn {
  background-color: #18105b;
  color: white;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  outline: 0;
}

.loginBtn:hover {
  background-color: #19106f;
}

/* ----------- Mentor Registration CSS ------------- */

.mentorHeading {
  color: #19106f;
}

.mentorBox {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mentor {
  display: flex;
  width: 600px;
  height: 550px;
  border: 2px solid #7e78aa;
  border-radius: 7px;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  box-shadow: 0 4px 8px 0 #7e78aa, 0 6px 20px 0 #7c76aa;
}

.mentorForm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.mentorDiv {
  width: 75%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.mentorLabel {
}

.mentorInput {
  border-bottom: 3px solid #7e78aa;
  width: 200px;
  outline: 0;
}

.mentorBtn {
  background-color: #18105b;
  color: white;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}

.mentorBtn:hover {
  background-color: #19106f;
}
